// * Максимальная ширина макета
$container-width: 1405;

:root {
	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #e27d5f;
	--accent-color: #9fd4ff;
	--royal-blue-color: #4754eb;
	--purple-heart-color: #8633b0;
	--gray-color: #808080;
}
